Azure-Logic-App/User-Favourite-Recipe-MasterLatest-LA.json
{
	"definition": {
		"$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
		"actions": {
			"Parse_JSON_-_Headers": {
				"inputs": {
					"content": "@triggerOutputs()['headers']",
					"schema": {
						"properties": {
							"X-Authorization": {
								"type": "string"
							}
						},
						"type": "object"
					}
				},
				"runAfter": {},
				"type": "ParseJson"
			},
			"Send_update_User_favorite_Recipe_response": {
				"inputs": {
					"body": "@body('Update_User_favorite_Recipe')",
					"statusCode": "@outputs('Update_User_favorite_Recipe')['statusCode']"
				},
				"kind": "Http",
				"runAfter": {
					"Update_User_favorite_Recipe": [
						"Succeeded",
						"Failed"
					]
				},
				"type": "Response"
			},
			"Update_User_favorite_Recipe": {
				"inputs": {
					"body": {
						"query": "mutation { updateFavouriteRecipe(auth0:\"@{body('Parse_JSON_-_Headers')?['X-Authorization']}\",recipeDatocmsId:\"@{triggerBody()?['recipeDatocmsId']}\"){ message favoriteRecipes{ datocms_id name featured_image datocms_purveyor_id datocms_main_category_id datocms_sub_categories datocms_tags duration difficulty taste summary datocms_methods authors_tip is_trending } }}"
					},
					"headers": {
						"Authorization": "@parameters('FaunaDBAuthorizationToken')"
					},
					"method": "POST",
					"uri": "@parameters('FaunaDBURL')"
				},
				"runAfter": {
					"Parse_JSON_-_Headers": [
						"Succeeded"
					]
				},
				"type": "Http"
			}
		},
		"contentVersion": "1.0.0.0",
		"outputs": {},
		"parameters": {
			"FaunaDBAuthorizationToken": {
				"defaultValue": "Basic Zm5BRUU2dnVPb 0FDQXZ4SkljM2R5LUlMWVZjWnFMMU94TDI1b2tnWDpncWwtZGVtbzpzZXJ2ZXI=",
				"type": "String"
			},
			"FaunaDBURL": {
				"defaultValue": "https://graphql.fauna.com/graphql",
				"type": "String"
			}
		},
		"triggers": {
			"manual": {
				"inputs": {
					"schema": {
						"properties": {
							"recipeDatocmsId": {
								"type": "string"
							}
						},
						"type": "object"
					}
				},
				"kind": "Http",
				"type": "Request"
			}
		}
	},
	"parameters": {}
}
