Azure-Logic-App/User-Favourite-Product-MasterLatest-LA.json
{
  "definition": {
    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
    "actions": {
      "Parse_JSON_-_Headers": {
        "inputs": {
          "content": "@triggerOutputs()['headers']",
          "schema": {
            "properties": {
              "X-Authorization": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "runAfter": {},
        "type": "ParseJson"
      },
      "Send_User_favourite_Product_response": {
        "inputs": {
          "body": "@body('Update_User_favourite_Product')",
          "statusCode": "@outputs('Update_User_favourite_Product')['statusCode']"
        },
        "kind": "Http",
        "runAfter": {
          "Update_User_favourite_Product": [
            "Succeeded",
            "Failed"
          ]
        },
        "type": "Response"
      },
      "Update_User_favourite_Product": {
        "inputs": {
          "body": {
            "query": "mutation { updateFavouriteProduct(auth0:\"@{body('Parse_JSON_-_Headers')?['X-Authorization']}\",cl_sku:\"@{triggerBody()?['cl_sku']}\"){ message favoriteProducts{ datocms_id datocms_name cl_sku datocms_price datocms_description purveyor_profile datocms_product_measurement datocms_product_variant datocms_dietary_tag } }}"
          },
          "headers": {
            "Authorization": "@parameters('FaunaDBAuthorizationToken')"
          },
          "method": "POST",
          "uri": "@parameters('FaunaDBURL')"
        },
        "runAfter": {
          "Parse_JSON_-_Headers": [
            "Succeeded"
          ]
        },
        "type": "Http"
      }
    },
    "contentVersion": "1.0.0.0",
    "outputs": {},
    "parameters": {
      "FaunaDBAuthorizationToken": {
        "defaultValue": "Basic Zm5BRUU2dnVPb0FDQXZ4SkljM2R5LUlMWVZjWnFMMU94TDI1b2tnWDpncWwtZGVtbzpzZXJ2ZXI=",
        "type": "String"
      },
      "FaunaDBURL": {
        "defaultValue": "https://graphql.fauna.com/graphql",
        "type": "String"
      }
    },
    "triggers": {
      "manual": {
        "inputs": {
          "schema": {
            "properties": {
              "cl_sku": {
                "type": "string"
              }
            },
            "type": "object"
          }
        },
        "kind": "Http",
        "type": "Request"
      }
    }
  },
  "parameters": {}
}
